<a href="https://colab.research.google.com/github/bmreiniger/datascience.stackexchange/blob/master/SO73583687_Ridge_normalize.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.datasets import load_diabetes
import pandas as pd

# X, y = load_diabetes(return_X_y=True, as_frame=True)

data = pd.read_csv('https://drive.google.com/uc?id=1ukCv-bdsggTOLTFQqel4TCmoT1C06DFz', index_col=0)
X = data.iloc[:,:15]
y = data['target']

In [2]:
data.head()

,power_1,power_2,power_3,power_4,power_5,power_6,power_7,power_8,power_9,power_10,power_11,power_12,power_13,power_14,power_15,target
0,290.0,84100.0,24389000.0,7.072810e+09,2.051115e+12,5.948233e+14,1.724988e+17,5.002464e+19,1.450715e+22,4.207072e+24,1.220051e+27,3.538148e+29,1.026063e+32,2.975582e+34,8.629189e+36,221900.0
1,370.0,136900.0,50653000.0,1.874161e+10,6.934396e+12,2.565726e+15,9.493188e+17,3.512479e+20,1.299617e+23,4.808584e+25,1.779176e+28,6.582952e+30,2.435692e+33,9.012061e+35,3.334463e+38,538000.0
2,380.0,144400.0,54872000.0,2.085136e+10,7.923517e+12,3.010936e+15,1.144156e+18,4.347792e+20,1.652161e+23,6.278212e+25,2.385721e+28,9.065738e+30,3.444980e+33,1.309093e+36,4.974552e+38,180000.0
3,384.0,147456.0,56623104.0,2.174327e+10,8.349416e+12,3.206176e+15,1.231172e+18,4.727699e+20,1.815436e+23,6.971275e+25,2.676970e+28,1.027956e+31,3.947353e+33,1.515783e+36,5.820608e+38,604000.0
4,390.0,152100.0,59319000.0,2.313441e+10,9.022420e+12,3.518744e+15,1.372310e+18,5.352009e+20,2.087284e+23,8.140406e+25,3.174758e+28,1.238156e+31,4.828807e+33,1.883235e+36,7.344616e+38,510000.0

In [3]:
penalty = 1.5e-5
A = Ridge(normalize=True, alpha=penalty).fit(X, y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Ridge())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * n_samples.
  FutureWarning,

In [4]:
from sklearn.pipeline import make_pipeline

B = make_pipeline(StandardScaler(with_mean=False), Ridge(alpha=penalty * X.shape[0]))
B.fit(X, y)

Pipeline(steps=[('standardscaler', StandardScaler(with_mean=False)),
                ('ridge', Ridge(alpha=0.324195))])

In [5]:
for i in range(X.shape[1]):
    print(A.coef_[i], B[1].coef_[i] / B[0].scale_[i])

-27.146695104574537 -27.146695104434496
0.004539501338651588 0.004539501338546368
2.1818777212039407e-06 2.181877721236087e-06
-3.138752250904223e-10 -3.1387522509374534e-10
1.146994194901286e-15 1.1469941947734586e-15
8.702444221177161e-19 8.7024442213974e-19
-8.12615496452096e-24 -8.126154962012825e-24
-4.49757556285541e-27 -4.4975755629786446e-27
-2.3328447957008473e-31 -2.3328447959212177e-31
6.325894579997212e-36 6.32589457999304e-36
2.0555391095672096e-39 2.055539109687643e-39
1.920104055323069e-43 1.9201040553530566e-43
9.623468025047094e-48 9.623468024730885e-48
-1.6321932842749238e-52 -1.6321932845806583e-52
-1.0919777695190494e-55 -1.0919777695016982e-55

In [6]:
import numpy as np
np.allclose(A.coef_, B[1].coef_ / B[0].scale_)

True

In [7]:
A.coef_[0] * X.iloc[:, 0].std()

-24932.635003701726